/* .markdown-section tr:nth-child(2n) {
	background-color: #505050;
} */
:root {
	--theme-color: #3fbce8;
}

body {
	font-size: 17px;
}

@media (min-width: 1550px) {
	.markdown-section {
		max-width: 45%;
	}
	
	.content {
		left: 0px;
	}
}

.markdown-section table {
	margin: 0 auto 1rem auto;
	width: 90%;
}

.markdown-section th:nth-of-type(2) {
	column-width: 1000px;
}
.markdown-section th:nth-of-type(3) {
	column-width: 1000px;
}

.sidebar li {
	margin: 0px 0px 0px 5px;
}

.sidebar .sidebar-nav {
	line-height: 1.8em;
}
