/* .markdown-section tr:nth-child(2n) {
	background-color: #505050;
} */
body {
	font-size: 17px;
}

a {
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}

@media (min-width: 1550px) {
	.markdown-section {
		max-width: 45%;
	}
	
	.content {
		left: 0px;
	}
	
	.infobox {
		position: absolute;
		margin-top: -30%;
		left: 105%;
		width: 50%;
	}
}

.infobox {
	border: 1px solid;
	padding: 10px;
}

.infobox p:nth-last-of-type(1) {
	margin-bottom: 0px;
}

.infobox p:nth-of-type(1) {
	margin: 0px;
}

.inline-box {
	border: 1px solid;
	padding: 10px;
	width: 50%;
	margin-left: 5%;
}

.inline-box p {
	margin: 0px;
}

.markdown-section table {
	margin: 0 auto 1rem auto;
	width: 90%;
}

.wideTable table {
	width: 120%;
	margin-left: -10%;
}

.markdown-section th:nth-last-of-type(1) {
	column-width: 1000px;
}

.threeColumn th:nth-of-type(2){
	column-width: 1000px;
}
.sidebar li {
	margin: 0px 0px 0px 5px;
}

.sidebar .sidebar-nav {
	line-height: 1.8em;
}
