/* .markdown-section tr:nth-child(2n) {
	background-color: #505050;
} */
:root {
	--theme-color: #3fbce8;
}
body {
	font-size: 17px;
}

@media (min-width: 1550px) {
	.markdown-section {
		max-width: 45%;
	}
	
	.content {
		left: 0px;
	}
}
